
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    float: left;
}

.first-section{
    text-align: center;
    margin-bottom: 2rem;

}

/* COMMON */
body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
}
 
/* LETTERING STYLE*/
.title{
    color: #E53170;
    font-size: 2rem;
    margin-bottom: 2rem;
    
}

/* box */

.box{
    background-color: aqua;
}

.window{
    background-color: red;
    width: 300px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; 
}

/* icons and info */
.icon{
    width: 30%;
}
