
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.first-section{
    text-align: center;

}

/* COMMON */
body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
}
 
/* LETTERING STYLE*/
.title{
    color: #E53170;
    font-size: 2rem;
    margin-bottom: 2rem;
    

    
}